/*
Color variables
*/

$primary: hsl(75, 94%, 57%);
$content: hsl(0, 0%, 100%);
$content--darker: hsl(0, 0%, 79%);
$surface--lighter: hsl(0, 0%, 20%);
$surface: hsl(0, 0%, 12%);
$background: hsl(0, 0%, 8%);
